{% extends 'base.html' %}
{% block title %} Personnels {% endblock %}

{% block body_block %}
{% load static %}

<img src="{% static 'images/image1.jpg' %}" height="152" width="470"> 
<img src="{% static 'images/image2.jpg' %}" height="152" width="470"> 

<p style="text-align:left">
FILTRER PAR : <input type="text" id="myInput1" onkeyup="filtreMyTable('myTable','myInput1', 0)" placeholder="NOM">
</p>

<h3><a href = "{% url 'groupeajouter' %}">Ajouter un nouveau groupe </a></h3> 
<table class="table table-striped"> 
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Modifications</th> 
                <th>Suppressions</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for groupe in groupes %}
            <tr>
                <th scope="row">{{ groupe.id }}</th>
                <td><a href="/groupe/{{ groupe.id }}">{{ groupe.nom }}</a> </td>    
                <th scope="row"><a href = "groupemodifier/{{groupe.id}}">Modifier</a></th>   
                <th scope="row"><a href = "groupesupprimer/{{groupe.id}}">Supprimer</a></th>      
   
   
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}